# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# extensions
*.so
*.docx
.pyre/
.Rproj.user
.RData
*.txt
.Rhistory
**/*.Rproj

# folder
Old/
figures/slides/
figures/archive/
.Python
build/
develop-eggs/
dist/
data/
results/
reports/
downloads/
PSO.out/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

Hydro_NH_test.txt
Hydro_NH_train.txt
Hydro_NH_validation.txt
